.profile {
    background-color: #fff;
    width: 390px;
    margin: 0px auto;
    margin-bottom: 120px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #aaaaaa;
  }
  
  .description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
  }
  
  .avatar {
    width: 102px;
    height: 100px;
    padding: 5px;
    border-radius: 50%;
    border:groove  #807e7e ;
    border-width: 10px;
  }
  
  .name {
    font-size: 22px;
    font-weight: 700;
  }
  p {
    margin-bottom: 0;
    font-size: 26px;
    font-weight: 500;
  }
  
  .stats {
    list-style: none;
    display: grid;
    grid-template-columns: 130px 130px 130px;
    height: auto;
    width: 100%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    background-color: #000000;
    border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
  }
  
  .stats > li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-right: thick double #65696b;
   
  }
  
  .stats > li:last-child {
    border-right: none;
  }
  
  .label {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
    text-shadow: 1px 1px 2px rgb(255, 165, 29), 0 0 5px blue, 0 0 10px blue;
  }
  
  .quantity {
    color: rgb(243, 240, 38);
    font-size: 22px;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgb(255, 93, 29), 0 0 5px blue, 0 0 10px rgb(30, 255, 0);
  }