.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 209, 199);
    font-size: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px;
   
  }